@charset "utf-8";
html {
	overflow-x: hidden
}

body,
div,
span,
img,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
textarea,
select,
option,
fieldset,
legend,
p,
th,
td {
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0
}

fieldset,
img {
	border: 0
}

a {
	text-decoration: none;
	color: #252525
}

.clear {
	clear: both
}

ul,
li {
	list-style: none
}

body {
	font-family: 'Microsoft yahei', "黑体", STHeiti, simsun, STXihei, "华文细黑", Verdana, Arial, sans-serif;
	font-size: 14px;
	height: auto;
	overflow-x: hidden;
	position: relative;
	background-color: #fff
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

.inline-block {
	display: inline-block
}

textarea {
	-webkit-appearance: none
}

select {
	padding-right: ;
	border-radius: 0;
	width: 100%;
	height: 25px;
	font-size: 14px;
	-webkit-appearance: none;
	background-image: ;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;
	border: 1px solid #dcdcdc!important
}

.overhidden {
	overflow: hidden
}

.giftshop-hide {
	display: none
}

.relative-pos {
	position: relative
}

.ui-header {
	overflow: hidden;
	height: 90px;
	position: relative;
	border-bottom: #000 solid 5px
}

.ui-logo {
	margin-top: 26px;
	float: left;
	width: 103px;
	height: 21px;
	background: url(../images/coach-logo.png?2015.07.06) no-repeat 0 0;
	background-size: 103px 21px;
	-webkit-background-size: 103px 21px;
	display: block;
	text-indent: -9999px
}

.user-input {
	float: left;
	width: 65%;
	height: 26px;
	line-height: 26px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: #000 2px solid
}

.search_cover {
	padding: 10px 12px
}

.search {
	height: 28px;
	border: 1px solid #666;
	position: relative
}

.search-txt {
	width: 80%;
	height: 29px;
	border: 0;
	background: 0;
	text-indent: .5em;
	color: #ccc
}

.search-btn {
	position: absolute;
	right: 0;
	top: 0
}

.gifts_title .search {
	border: 2px solid #666;
	background-color: #fff
}

.gifts_title .search-txt {
	color: #666
}

.gifts_title .headerIconLink span {
	color: #000
}

.ui-shoppingCart {
	margin-top: 15px;
	float: right;
	font-size: 16px
}

.ui-shoppingCart ul li {
	float: left
}

.ui-shoppingCart ul li:first-child {
	margin-top: 5px;
	margin-right: 15px
}

.ui-shoppingCart ul li:last-child {
	float: right
}

.check-btn {
	display: block;
	width: 100px;
	padding: 5px 0 5px 0;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-right: 10px
}

.headerIconMenu {
	position: relative;
	width: 100%
}

.headerIconCart {
	position: relative;
	width: 100%
}

.headerIconLink {
	display: block
}

.unWhSpacerT14 {
	border-top: 14px solid transpartent
}

.unLogo {
	display: block
}

.unLogo img {
	width: 100%
}

.padding20-10 {
	padding: 20px 10px
}

.changeRow {
	word-break: break-all;
	word-wrap: break-word
}

.section-style {
	width: 100%;
	overflow: hidden
}

.ui-introduction-img img {
	width: 100%;
	vertical-align: bottom;
	height: auto;
	display: block
}

.cart-cover {
	position: absolute;
	top: 33%;
	left: 51%;
	right: auto!important;
	font-size: .7em;
	display: block;
	width: 30%;
	height: 30%
}

.cart-num {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto!important;
	margin-left: -13px;
	margin-top: -13px;
	text-align: center;
	line-height: 26px
}

.none-underline {
	border-bottom: none!important
}

.bold {
	font-weight: bold
}

.content-category {
	padding: 0 10px 0 10px;
	background: #fff
}

.content-category a {
	display: block;
	line-height: 20px;
	border-bottom: #969696 solid 1px;
	color: #000
}

.ui-back {
	margin: 0 auto;
	background: #000;
	padding: 10px 4%
}

.ui-back a,
.ui-back span {
	color: #fff;
	font-size: 18px
}

.ui-womens-product a,
.ui-mens-product a,
.view-womens-product a,
.womens-category-list a {
	display: block;
	font-size: 22px;
	padding: 10px 4%;
	color: #fff
}

.ui-womens-product a,
.ui-mens-product a,
.view-womens-product a,
.womens-category-list a {
	background: #000
}

.close {
	background: url(../images/icon-small.png) -4px -13px;
	height: 28px;
	width: 24px;
	float: right
}

.go {
	background: url(../images/icon-small.png) -5px -45px;
	height: 19px;
	width: 16px;
	float: right
}

.ui-second-menu ul li,
.ui-bag-menu ul li,
.ui-third-menu ul li {
	border-bottom: 2px solid #444
}

.ui-second-menu ul li:last-child {
	border-bottom: 1px solid #fff
}

.ui-second-menu ul li a,
.ui-bag-menu ul li a {
	display: block;
	color: #505050
}

.ui-second-menu ul li a {
	padding: 10px 4%;
	background: #fff;
	font-size: 18px
}

.ui-bag-menu ul li a {
	padding: 8px 4%;
	background: #fff;
	font-size: 16px
}

.ui-bag-menu ul li:last-child,
.ui-third-menu ul li:last-child {
	border-bottom: 0
}

.ui-third-menu ul li a {
	display: block;
	color: #505050;
	background: #fff;
	height: 20px;
	padding: 8px 4%;
	font-size: 16px
}

.ui-shipping {
	border-top: 2px solid #6f6f6f
}

.ui-shipping a {
	font-weight: bold;
	display: block;
	font-size: 22px;
	padding: 10px 4%;
	color: red;
	background: #fff
}

.view-bag-shape a,
.view-bag-series a,
.view-all-bags a,
.open,
.close,
.go {
	text-indent: -9999px;
	display: block
}

.product-list {
	width: 92.1%;
	margin: 0 auto
}

.uncenter {
	text-align: center
}

.unleft {
	text-align: left!important
}

.unright {
	text-align: right
}

.gray {
	color: #807979
}

.color-other-color {
	color: #5e6469
}

.black {
	font-weight: bold;
	color: #000!important;
	text-decoration: underline!important
}

.product-show,
.product-show-24 {
	border-top: 10px solid #fff;
	border-bottom: 5px solid #fff
}

.top-border {
	border-top: 1px solid #000
}

.product-show-6,
.shopping-bag {
	border-top: 10px solid #fff;
	border-bottom: 5px solid #fff;
	text-align: center;
	width: 100%;
	margin: 0 auto
}

.product-show-6 ul li,
.shopping-bag ul li,
.shopping-bag-product-img img {
	width: 100%
}

.shopping-bag ul li {
	clear: both
}

.product-show-6 ul li,
.shopping-bag-product-name {
	border-bottom: 2px solid #fff
}

.bag-total {
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	margin: 20px 0 10px 0;
	padding: 5px
}

.shopping-bag-product-name {
	text-align: left
}

.product-show ul li {
	width: 49.8%;
	border-bottom: 2px solid #fff
}

.product-show-24 ul li {
	width: 33%;
	margin-right: .33%;
	float: left;
	border-bottom: 2px solid #fff
}

.shopping-bag-product-img {
	width: 40%
}

.shopping-bag-product-introduction {
	text-align: left;
	width: 56%;
	border-left: 7px solid #fff
}

.removebtn {
	font-size: 18px;
	text-decoration: underline;
	color: #666
}

.product-show-6 ul li:last-child {
	border-bottom: 0
}

.product-show ul li:nth-child(odd),
.spanfl,
.some-other ul li {
	float: left;
	background-color: #f1f1f1
}

.some-other ul li:last-child {
	margin-left: 20px
}

.product-show ul li:nth-child(even),
.spanfr {
	float: right
}

.product-name-price a {
	background-color: #f1f1f1
}

.product-name-price img {
	width: 100%
}

.product-name-price {
	text-align: center;
	border-top: 10px solid #f1f1f1;
	border-bottom: 9px solid #f1f1f1
}

.shopping-bag-cart {
	text-align: center;
	border-bottom: 9px solid #fff
}

.height70 {
	height: 80px
}

.product-name-price ul {
	text-align: center;
	width: 100%;
	display: block;
	border-top: 10px solid #f1f1f1;
	border-bottom: 9px solid #f1f1f1;
	background-color: #f1f1f1
}

.product-name-price ul li {
	width: 100%;
	border-bottom: none!important;
	float: none!important
}

.product-name-price ul li span {
	width: 100%;
	font-size: 14px
}

.page-footer {
	border-top: 2px solid #000;
	text-align: center;
	font-size: 16px;
	padding: 10px 0 0 0
}

.next-page {
	float: right;
	background: url(../images/page_right.gif) 0 0 no-repeat;
	display: block;
	text-indent: -9999px;
	height: 28px;
	width: 22px
}

.previous-page {
	float: left;
	background: url(../images/page_left.gif) 0 0 no-repeat;
	display: block;
	text-indent: -9999px;
	height: 28px;
	width: 22px
}

.orangeColor {
	color: #95683f
}

.page-footer a {
	width: 20%
}

.ui-category {
	margin: -4px auto
}

.ui-category span {
	background: url(../images/ui-bg.png) no-repeat 0 0;
	height: 30px;
	background-size: 100% 60px;
	display: block;
	padding: 15px 5%;
	font-size: 22px;
	color: #555;
	font-weight: bold
}

.relative {
	position: relative
}

.view-bag-shape a {
	background: url(../images/ui-bag-shape.png) no-repeat 0 0;
	height: 65px;
	background-size: 100% 65px
}

.view-bag-series a {
	background: url(../images/ui-bag-series.png) no-repeat 0 0;
	height: 65px;
	background-size: 100% 65px
}

.view-all-bags a {
	background: url(../images/ui-all-bags.png) no-repeat 0 0;
	height: 65px;
	background-size: 100% 65px
}

.open {
	margin-top: 11px;
	background: url(../images/icon-small.png) -4px -6px;
	height: 5px;
	width: 19px;
	float: right
}

.product-name {
	margin: -4px auto;
	padding: 10px 10px;
	background: #000
}

.product-name a {
	overflow: hidden;
	display: block;
	line-height: 35px;
	color: #fff;
	font-size: 20px;
	font-weight: bold
}

.detali-content {
	margin: 0 auto;
	width: 92%;
	color: #000;
	font-size: 14px
}

.product-description {
	margin: 1em 0
}

.product-description ul {
	margin-bottom: 20px
}

.product-description ul li {
	list-style: disc inside none
}

.product-description h1 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px
}

.product-description p {
	width: 50%;
	float: left;
	margin-bottom: 10px
}

.product-description p:last-child {
	text-align: right
}

.product-description h3 {
	height: 16px;
	width: 100%;
	padding: 8px 0;
	font-size: 14px;
	color: #555;
	cursor: pointer
}

.product-description h3.toggle_up {
	background-position: 100% -20px
}

.productinfo_togglebox .product-description {
	border-top: 2px solid #f0f0f0;
	margin-bottom: 0!important;
	border-bottom: 2px solid #f0f0f0
}

.under-line {
	text-decoration: underline
}

.product-comment {
	margin-bottom: 10px;
	padding: 8px 0;
	border-bottom: 2px solid #f0f0f0
}

.review-star {
	height: 15px
}

.product-comment ul li {
	float: left
}

.review-star li {
	width: 15%;
	float: left
}

.pre-review-content li:first-child {
	float: left
}

.pre-review-content li:last-child {
	float: right
}

.product-comment ul li:first-child,
.review-star li:first-child {
	width: 23%;
	line-height: 18px;
	font-weight: bold;
	color: #555
}

.product-comment ul li:last-child {
	width: 77%
}

.review-star li:last-child {
	width: 35%
}

.product-comment ul li img,
.review-star li img,
.pre-review-content li img {
	width: 14px;
	height: 14px
}

.product-comment ul {
	height: 16px;
	width: 100%;
	display: block;
	cursor: pointer
}

.toggle_down {
	background: url('../images/toggle-sprite.png') no-repeat scroll 100% 7px transparent
}

.toggle_up {
	background: url('../images/toggle-sprite.png') no-repeat scroll 100% -27px transparent
}

.write-review-star img {
	width: 20px;
	height: 20px
}

.product-detail-margin {
	margin: 20px auto
}

.product-detail-border {
	border-bottom: 2px solid #b3b2af
}

.border-top {
	border-top: 2px solid #b3b2af
}

.border-spilt-top {
	border-top: 5px solid #000
}

.font12 {
	font-size: 12px
}

.color-select ul li {
	list-style: none
}

.color97 {
	color: #979797
}

.background5050 {
	background: #f3f4ef
}

.border2black {
	border-top: 2px solid #000;
	border-bottom: 3px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000
}

.border3white {
	border: 2px solid #fff
}

.border1black {
	border: 1px solid #000
}

.color_choose2 {
	margin-top: 5px
}

.color_choose2 a img {
	border: 1px solid #fff;
	padding: 1px;
	width: 14.1%
}

.color_choose2 a:first-child img {
	border: 1px solid #d7d7d7
}

.spilt-margin {
	margin-top: 30px;
	margin-left: -6px;
	margin-right: 3px
}

.block {
	display: block!important
}

.qty-select {
	padding: 10px 0 10px 0;
	width: 48.3%
}

.qty-title {
	display: block
}

.qty-select select {
	height: 25px;
	width: 100%;
	border: 1px solid #ededed;
	margin-top: 10px
}

.layout-qty-select {
	height: 22px;
	overflow: hidden;
	border: 1px solid #ededed;
	border-radius: 0
}

.sizebox {
	float: left;
	margin-right: 3.4%
}

.add-product {
	margin: 10px 0 10px 0;
	width: 100%
}

.go-to-check {
	padding: 10px 0 10px 0;
	width: 80%;
	margin: 0 auto
}

.width80 {
	width: 80%!important
}

.width50 {
	width: 50%
}

.width48 {
	width: 48%
}

.width4 {
	width: 4%
}

.width66 {
	width: 66%
}

.padding-top10 {
	padding-top: 10px
}

.content-padding {
	padding: 5px
}

.add-wishList,
.add-bag {
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	padding: 5px 0 5px 0;
	font-weight: bold
}

.myaddress {
	margin: 10px 0 10px 0
}

.myaddress li {
	margin-bottom: 5px
}

.add-bag,
.use-active-number {
	color: #fff;
	background: #000;
	border: 1px solid #000;
	line-height: 1.8;
	margin-bottom: 4%
}

.myAccount-input {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 25px;
	font-size: 14px;
	border-radius: 0;
	color: #000;
	background: #fff;
	border: 1px solid #ccc
}

.height25 {
	height: 25px
}

.product-name-price .edit-information {
	display: block;
	width: 100%;
	font-size: 16px;
	text-align: center;
	padding: 5px 0 5px 0;
	color: #fff;
	background: #000;
	border: 1px solid #000
}

.remove-wishlist {
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	padding: 5px 0 5px 0;
	color: #000;
	background: #fff;
	border: 1px solid #fff
}

.go-check-btn-other {
	display: block;
	width: 80px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #505050;
	border: 1px solid #fff
}

.go-check-btn {
	display: block;
	width: 80px;
	font-size: 14px;
	text-align: center;
	background: #ccc;
	border: 1px solid #ccc
}

.mywishlist li {
	margin-bottom: 5px
}

.mywishlist li:first-child {
	margin-top: 5px
}

.mywishlist li:first-child img {
	width: 100%
}

.gray45 {
	border-bottom: 1px solid #454545
}

.font45 {
	color: #454545
}

.gray45-border {
	border: 1px solid #454545
}

.user-information,
.order-information {
	overflow: hidden;
	margin: 10px 0 10px 0
}

.user-information li {
	margin-bottom: 5px
}

.order-information {
	height: auto;
	border-bottom: 1px solid #454545
}

.order-information li {
	margin-bottom: 8px;
	margin-topx: 8px;
	font-weight: bold;
	font-size: 16px
}

.order-information li span,
.order-information li a {
	font-weight: normal!important;
	font-size: 14px!important
}

.border-black1 {
	border: 1px solid #000
}

.input-width {
	width: 75%!important
}

.use-active-number {
	display: block;
	width: 20%;
	height: 22px;
	font-size: 14px;
	padding-top: 3px;
	margin-left: 2%;
	text-align: center;
	float: right
}

.width100-nobox {
	width: 100%
}

.width100per {
	width: 100%
}

.width100 {
	width: 100%!important;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-icab-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.width20 {
	width: 20%
}

.width60 {
	width: 60%
}

.width31 {
	width: 32%
}

.box-size {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-icab-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.add-wishList {
	line-height: 1.8;
	color: #000;
	background: #fff
}

.product-suggest {
	clear: both;
	height: auto;
	overflow: hidden;
	margin: 0 auto
}

.padding10 {
	padding: 10px 4%
}

.padding0-1 {
	padding: 0 1px
}

.padding5 {
	padding: 5px 4%
}

.padding25 {
	padding: 15px 0 25px 0
}

.padding-small {
	padding: 3px 3px
}

.border-raidus0 {
	border-radius: 0!important;
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	-o-border-radius: 0!important;
	-ms-border-radius: 0!important;
	-icab-border-radius: 0!important;
	-khtml-border-radius: 0!important
}

.background-F1Bg {
	background: #f1f2f4
}

.padding8 {
	padding: 8px 0;
	border: 10px solid #fff
}

.marginR {
	margin-right: 10px
}

.product-suggest {
	padding-top: 6%;
	border-top: 2px solid #4e4e08
}

.product-suggest p {
	color: #555;
	margin-bottom: 2%
}

.product-suggest-list {
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden
}

.product-suggest-list li {
	display: inline;
	width: 49.4%;
	float: left;
	margin: 0 .6% .6% 0;
	background: #f0f0f0
}

.product-suggest-list li img {
	width: 100%;
	display: block
}

.basket-suggest li img {
	width: 100%
}

.weight {
	font-size: 22px;
	font-weight: bold
}

.margin-bottom {
	margin-bottom: 20px
}

.margin-bottom05 {
	margin-bottom: 5px
}

.checkout-banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	padding: 15px 4%;
	color: #000;
	font-size: 24px
}

.category-title img {
	width: 100%;
	vertical-align: bottom
}

.other-background,
.black-background {
	background: #000
}

.ui-sing-in {
	background: #236900
}

.greenBackgrouond a {
	display: block;
	padding: 10px 4%;
	color: #fff;
	font-size: 20px;
	background: #236900
}

.ui-sing-in,
.other-background {
	padding: 10px 4%;
	color: #fff;
	font-size: 20px
}

.black-other-background a {
	display: block;
	padding: 10px 4%;
	color: #fff;
	font-size: 20px;
	background: #000
}

.black-green {
	border: 1px solid #666;
	color: #153405!666
}

.margin5 {
	margin-bottom: 5px
}

.margin5top {
	margin-top: 5px
}

.margin7top {
	margin-top: 7px
}

.sing-in {
	text-align: center;
	background: #71ab56;
	width: 100%;
	margin: 0 auto
}

.user-register {
	text-align: center;
	background: #fff;
	width: 100%;
	margin: 0 auto
}

.sing-in ul,
.user-register ul {
	text-align: left;
	padding: 15px
}

.margin-left {
	margin-left: 10px
}

.sing-check {
	margin: 0 auto;
	width: 80%;
	font-size: 16px
}

.font-color-gray {
	color: #666
}

.font-color {
	color: #fff
}

.sing-in ul li {
	margin-top: 10px
}

.black-border-bottom {
	border-bottom: 1px solid #000
}

.bold-font {
	font-size: 24px;
	color: #000;
	font-weight: bold
}

.sing-other,
.personal-information {
	border-bottom: 1px solid #fff
}

.other-bottom,
.content-bottom {
	border-bottom: 5px solid #000
}

.sing-other,
.other-bottom,
.user-background {
	display: block;
	font-size: 20px;
	padding: 10px 4%
}

.sing-other,
.other-bottom {
	color: #fff;
	background: #5a5a5a
}

.user-background {
	color: #000;
	background: #fff
}

.myprofile {
	display: block;
	font-size: 14px;
	padding: 10px 4%;
	height: 60px;
	color: #000;
	background: #fff;
	text-align: center
}

.myprofile ul {
	width: 80%;
	margin: 0 auto;
	text-align: left
}

.gray72 {
	color: #727272
}

.other-height {
	height: 150px!important
}

.personal-information {
	display: block;
	font-size: 16px;
	padding: 10px 4%;
	color: #505050
}

.height240 {
	height: 260px!important
}

.height300 {
	height: 300px!important
}

.height30 {
	height: 30px
}

.height14 {
	height: 14px
}

.top-margin {
	margin-top: 10px
}

.top-margin20 {
	margin-top: 20px!important
}

.top-margin30 {
	margin-top: 30px
}

.paddingtop5 {
	padding-top: 5px;
	padding-bottom: 5px
}

.border2 {
	border-bottom: 2px solid #0f4200
}

.border2fff {
	border-bottom: 1px solid #fff
}

.font-black {
	color: #000
}

.font00F {
	color: #00F
}

.colordbaf5d {
	color: #dbaf5d
}

.font7 {
	font-size: 7px
}

.font8 {
	font-size: 8px
}

.font9 {
	font-size: 9px
}

.font11 {
	font-size: 11px
}

.font14 {
	font-size: 14px
}

.font18 {
	font-size: 18px
}

.font16 {
	font-size: 16px
}

.bottom-margin {
	margin-bottom: 10px
}

.word-input {
	padding: 0 0 15px 0;
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-size: 14px;
	border: 1px solid #fff
}

.contry-number-spilt {
	-webkit-appearance: none;
	height: 15px;
	padding: 5px 0 5px 0;
	width: 100%;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 1px solid #666
}

.height35 {
	height: 35px!important
}

.color-red {
	color: red
}

.width1 {
	width: 1%
}

.margin-top20 {
	margin-top: 20px
}

.margin-right2 {
	margin-right: 2%
}

.email-input {
	padding: 5px 0 5px 0;
	-webkit-appearance: none;
	-webkit-box-shadow: #000 0 0 0 0;
	box-shadow: #000 0 0 0 0;
	text-shadow: none;
	height: 15px;
	border-radius: 0;
	width: 100%;
	font-size: 14px
}

.phone-input {
	padding: 5px 0 5px 0;
	border-radius: 0;
	width: 30%;
	font-size: 18px;
	border: 1px solid #fff
}

.login-other-input {
	border-radius: 0;
	padding: 10px 0 10px 0;
	width: 100%;
	font-size: 16px
}

.mobile-input {
	border-radius: 0;
	padding: 10px 0 15px 0;
	width: 70%;
	font-size: 18px;
	border: 1px solid #fff
}

.number {
	width: 100%
}

.number ul {
	padding: 0!important
}

.contry-number {
	width: 30%
}

.phone-number {
	width: 70%
}

.birthday-selcet {
	width: 100%
}

.birthday-small-select {
	width: 32%;
	border-radius: 0;
	height: 25px;
	overflow: hidden;
	border: 1px solid #666;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-icab-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.margin-left {
	margin-left: 2%
}

.input-border {
	border: 1px solid #666!important
}

.white-border {
	border: 1px solid #fff!important
}

.white-border-other {
	border: 0 solid #fff!important
}

.shipment-select {
	border-radius: 0;
	width: 104%;
	margin-left: -1%;
	padding-left: 28px;
	margin-top: -1px;
	height: 37px;
	font-size: 16px
}

.search-result-select {
	width: 100%;
	height: 25px;
	font-size: 12px;
	border-radius: 0;
	border: 1px solid #dcdcdc
}

.change-search-select {
	border: 1px solid #dcdcdc
}

.birthday-other-select {
	border-radius: 0;
	width: 100%;
	font-size: 12px;
	border-radius: 0
}

.edit-btn {
	background: #246a00;
	border: 1px solid #246a00;
	width: 30%;
	height: 30px;
	font-size: 16px;
	cursor: pointer
}

.add-basket-success {
	padding: 5px;
	color: #fff;
	background: #000
}

.basket-style {
	color: #828281;
	font-size: 18px;
	font-weight: bold
}

.add-basket-success ul {
	width: 80%;
	margin: 0 auto;
	text-align: left
}

.login-other {
	font-size: 16px;
	color: #666;
	margin: 10px 0 0 0
}

.login-other ul li {
	list-style: disc inside none
}

.search-promtion li {
	list-style: disc inside none
}

.background-38Bg {
	background: #3a3838
}

.pop-message {
	z-index: 100000;
	width: 300px;
	list-style: none;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#bdbdbd));
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-box-shadow: #363636 0 0 10px 5px;
	box-shadow: #363636 0 0 10px 5px;
	text-shadow: none;
	top: 208px;
	left: 10px;
	position: absolute;
	background-position: initial initial;
	background-repeat: initial initial
}

.prompt-message {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	line-height: 20px;
	padding: 30px 18px 10px 18px;
	text-align: center
}

.prompt-img {
	padding: 8px 0 20px 0;
	text-align: center
}

.leftpadding {
	padding-left: 4%
}

.textalign {
	text-align: -2px
}

.grey5050 {
	color: #505050
}

.share-weibo a {
	background: url(../images/sina_share.jpg) no-repeat center;
	background-size: 30px 30px;
	height: 40px
}

.background666 {
	background: #666
}

.back-groundccc {
	background: #ccc
}

.prom-content {
	dislay: ;
	border: 1px solid #d66d28
}

.unOrange2Bg {
	background: #d66d28
}

.orangaf6 {
	color: #af6e0d
}

.font-orange {
	color: #d66d28
}

.orange {
	color: #cd5403
}

.color666 {
	color: #666
}

.prom-information {
	margin: 5px auto;
	padding-left: 4px
}

.prom-information li {
	list-style: disc inside none;
	margin-bottom: 5px
}

.custom-service ul li {
	border-bottom: 1px solid #000
}

.custom-service ul li a {
	background: #fff;
	display: block;
	color: #000;
	padding: 5px 0 5px 4%;
	font-size: 14px
}

.shoe-repair li {
	list-style: disc inside none
}

.tab,
.tab1,
.tab2,
.tab3 {
	color: #000;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	width: 100%;
	height: auto;
	text-align: center
}

.tab td {
	border: solid 1px #000;
	width: 33%;
	height: 30px
}

.tab1 td,
.tab3 td {
	border: solid 1px #000;
	width: 50%;
	height: 30px
}

.tab2 td {
	border: solid 1px #000;
	width: 14%;
	height: 30px
}

.store-address {
	margin-top: 5px;
	color: #727272
}

.store-address li a,
.store-address li span {
	color: #727272
}

.store-address li:first-child a,
.store-address li:first-child span {
	font-size: 1.5em;
	font-weight: bold
}

.store-address li:nth-child(3) {
	margin-top: 10px;
	margin-bottom: 5px
}

.store-address li:nth-child(4) {
	margin-top: 10px;
	margin-bottom: 5px
}

.store-address li:nth-child(3) a,
.store-address li:nth-child(3) span {
	display: block
}

.store-address li:nth-child(4) a,
.store-address li:nth-child(4) span {
	display: block
}

.store-address li:last-child {
	margin: 10px 0 5px 0
}

.backgroundf651 {
	background: #f6f5f1
}

.store-map img {
	width: 100%
}

.error-margin li {
	margin-top: 10px
}

.flex-promtion {
	text-align: left;
	width: 255px;
	margin: 0 auto;
	background-color: #f0f0f0;
	text-indent: 10%
}

.download-img ul {
	width: 100%
}

.download-img ul li:first-child {
	vertical-align: middle;
	float: left;
	width: 60%
}

.download-img ul li:last-child {
	margin-top: 180px;
	float: right;
	width: 20%
}

.download-img ul li img {
	width: 100%
}

.download-img ul li a {
	text-decoration: underline
}

.active-style li {
	margin-top: 10px;
	list-style: disc inside none
}

.through-line {
	text-decoration: line-through
}

.red_price {
	color: red
}

.gift-guideL-o {
	color: #000;
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	padding: 15px 4px;
	position: absolute;
	top: 10%;
	width: 51%;
	left: 3%
}

.gift-guideR-o,
.gift-guideR-b-o,
.gift-guideR-t-o {
	color: #000;
	background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
	border: 1px solid #000;
	padding: 21px 4px;
	position: absolute;
	width: 51%;
	right: 2%
}

.gift-guideR-o {
	bottom: 8%
}

.gift-guideR-b-o {
	bottom: 20%
}

.gift-guideR-t-o {
	top: 20%
}

.gift-guideL,
.gift-guideR {
	color: #000;
	border: 1px solid #000;
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	padding: 21px 4px;
	position: absolute;
	top: 22%;
	width: 45%
}

.gift-guideR {
	right: 3%
}

.gift-guideL {
	left: 3%
}

.gift-guideC {
	color: #000;
	border: 2px solid #000;
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	padding: 21px 4px 40px;
	position: absolute;
	top: 5%;
	left: 8%;
	width: 80%
}

.byprice-list-C {
	color: #000;
	padding: 21px 4px 40px;
	position: absolute;
	top: 10%;
	left: 8%;
	width: 80%
}

.by-price-line {
	border-bottom: 1px solid #000;
	padding-bottom: 10px
}

.ui-foot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #fff;
	padding: 8px 0;
	border: 10px solid #fff
}

.user-input {
	-webkit-appearance: none;
	float: left;
	width: 65%;
	height: 26px;
	line-height: 26px;
	border: #666 2px solid
}

.ui-sumit {
	left: -1px;
	position: relative;
	float: left;
	display: block;
	width: 30%;
	height: 18px;
	background: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0 5px 0;
	border: 1px solid #555
}

.ul-bottom1,
.ul-bottom2 {
	clear: both;
	padding: 5px;
	border-bottom: solid 1px #b9b9b9;
	overflow: hidden
}

.ul-bottom1 li,
.ul-bottom2 li {
	padding: 5px 0 5px 0;
	height: 20px;
	float: left
}

.ul-bottom2 li {
	text-align: center
}

.ul-bottom1 li {
	width: 35%;
	text-align: center
}

.ul-bottom2 li {
	width: 49%
}

.ul-bottom2 li:first-child {
	text-align: left
}

.ul-bottom1 li:first-child {
	width: 25%;
	text-align: left
}

.ul-bottom1 li:last-child {
	width: 37%;
	text-align: right
}

.ul-bottom2 li:last-child {
	text-align: right
}

.li-space {
	width: 1%!important
}

.ui-band {
	font-size: 14px;
	color: #000;
	text-align: center
}

.ui-band li:first-child {
	padding: 10px 0 10px 0;
	border-bottom: solid 1px #b9b9b9
}

.ui-band li:last-child {
	height: 30px;
	margin-top: 10px;
	padding: 10px 0 20px 0
}

.ui-band li:last-child a {
	margin: 0 10px 0 10px
}

.ui-band li:last-child a img {
	vertical-align: middle
}

.emai-input {
	margin: 0 auto;
	width: 80%;
	padding: 5px 0 0 0
}

.email-txt {
	background: #fff;
	border: 2px solid #929292;
	border-radius: 0;
	font-size: 22px;
	color: #929292;
	float: left;
	height: 40px;
	line-height: 40px;
	text-indent: .5em;
	width: 100%
}

#main {
	margin-left: 4%;
	margin-top: 0;
	overflow: hidden;
	margin-right: 4%
}

@media screen and (max-width:960px) {
	#main {
		margin-left: 380px
	}
}

@media screen and (max-width:768px) {
	#main {
		margin-left: 0;
		margin-right: 0
	}
}

.car_box {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	overflow: hidden
}

body[landscape] .car_box {
	width: 380px
}

.car_pdp_imgs img {
	width: 20%;
	border-right: 2px solid #fff
}

.car_pdp_imgs img:first-child {
	border-left: 2px solid #fff
}

#car_pdpPrev {
	position: absolute;
	left: 1.5%;
	top: 3%;
	margin-top: -10px;
	width: 30px;
	height: 100%;
	background-image: url(../images/blank.png);
	background-repeat: repeat
}

#car_pdpNext {
	position: absolute;
	right: 1.5%;
	top: 3%;
	margin-top: -10px;
	width: 30px;
	height: 100%;
	background-image: url(../images/blank.png);
	background-repeat: repeat
}

#car_pdpPrev img {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 55%
}

#car_pdpNext img {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 55%
}

body[landscape] #car_pdpPrev,
body[landscape] #car_pdpNext {
	position: absolute;
	top: 400px
}

.flex-div {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	position: relative;
	width: 255px;
	height: 255px;
	background-color: #f1f1f1
}

.flex-ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 1275px
}

.flex-li {
	float: left;
	width: 255px;
	height: 255px
}

.flex-li img {
	width: 255px;
	height: 255px
}

.flex-li:first-child img {
	-webkit-transition: all .5s ease-out
}

.arrow-position {
	text-align: center;
	margin: -20% 0 20% 0
}

.center-div {
	width: 255px;
	margin: 0 auto;
	background-color: #f1f1f1
}

.makesure_pop {
	background: none repeat scroll 0 0 #fff;
	left: 50%;
	margin-left: -145px;
	position: absolute;
	width: 290px;
	z-index: 999
}

.makesure_pop .payfor_title {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	height: 25px;
	line-height: 25px;
	padding-left: 10px
}

.black_cross {
	clear: both;
	cursor: pointer;
	height: 7px;
	position: absolute;
	right: 10px;
	top: 12px;
	width: 9px
}

.makesure_pop .payfor_content {
	border: 1px solid #666;
	padding: 40px 0 20px;
	text-align: center
}

.makesure_pop .payfor_content a {
	margin: 0 15px
}

.makesure_pop a.btnlink,
a.btnlink {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 2px 7px
}

a.btnlink {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 3px 7px
}

.reviw_rating {
	display: block;
	width: 100px;
	height: 16px;
	background-image: url(../images/rating.jpg);
	background-repeat: no-repeat;
	background-position: -100px 0
}

#choose_ratings a {
	display: block;
	float: left;
	height: 18px;
	width: 20px;
	overflow: hidden;
	text-indent: -999px;
	background-image: url(../images/ratingStars_star.gif);
	background-position: 0 0
}

.color_title {
	clear: both;
	position: relative;
	margin: 15px 0 0 0;
	padding: 5px 0 0 0;
	color: #000;
	font-size: 14px;
	font-weight: bold
}

.color_title span {
	float: left;
	display: block
}

.hide {
	display: none
}

.auto_img {
	width: 100%
}

span.pricetxt {
	color: #979797;
	text-decoration: line-through
}

span.salesprice {
	color: #e77e8a;
	margin-left: 3px
}

.like_probox {
	margin: 0 auto;
	width: 175px;
	text-align: left;
	margin-bottom: 20px
}

.like_probox p {
	color: #7f7f7f;
	font-size: 11px
}

.like_probox a {
	color: #7f7f7f
}

.like_probox strong {
	color: #676767
}

.padding-height10 {
	padding: 10px 0
}

.add-block p {
	float: left;
	width: 60px;
	height: 26px
}

.add-block span {
	line-height: 26px
}

.left {
	float: left
}

.left-padding15 {
	padding-left: 15px
}

.footerHolder {
	width: 100%;
	height: 600px
}

.stuart-landingpage li {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 3.4%
}

.stuart-landingpage img {
	width: 100%
}

.headerimg {
	width: 100%;
	margin-bottom: 4.5%
}

.text-content {
	width: 92%;
	padding: 4%
}

.text-content p,
.text-content h3 {
	width: 100%;
	margin-bottom: 15px;
	font-size: 14px;
	font-family: "微软雅黑"
}

.text-content a {
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 12px;
	text-decoration: underline
}

.lpheader {
	width: 100%;
	margin: 0
}

.lpheader img {
	margin-bottom: 5%
}

.lpheader p {
	width: 70%;
	padding: 0 15%;
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	margin-bottom: 15px;
	line-height: 20px
}

.lpcontent {
	width: 100%;
	background-color: #000;
	height: auto
}

.lpcontent ul {
	width: 92%;
	padding: 4% 4% .5% 4%
}

.lpcontent li {
	width: 100%;
	margin-bottom: 3.9%
}

.lpbottom {
	width: 94%;
	padding: 0 3%;
	margin-top: 3%
}

.backtotop {
	color: #565158;
	border: 1px solid #565158;
	background-color: #fff
}

.boxstyle {
	width: 24%;
	padding: 3% 0;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold
}

.linkmore {
	border: 1px solid #000;
	background-color: #000
}

.linkmore a {
	color: #fff
}

.lpbottom li {
	display: inline-block;
	vertical-align: middle
}

.lpfooter {
	width: 47%;
	text-align: center;
	color: #848484
}

.pageheader {
	width: 100%;
	float: left
}

.pagegrid,
.pagegrid ul {
	float: left;
	width: 100%
}

.pagegrid ul li,
ul.pagegrid li {
	float: left;
	display: block;
	width: 100%;
	background: url("../images/statics/fallcampaign/universal-loading-anim.gif") no-repeat scroll center center transparent
}

.content {
	width: 100%;
	margin: 0
}

.contentHolder {
	width: 100%;
	height: 800px;
	position: relative;
	z-index: 0
}

.campaignheader {
	width: 100%;
	background-color: #000;
	float: left;
	margin-bottom: 40px
}

ul.campaigngrid {
	float: left;
	width: 100%
}

ul.campaigngrid li {
	float: left;
	display: block;
	margin-bottom: 40px;
	width: 100%;
	background: url("../images/statics/fallcampaign/universal-loading-anim.gif") no-repeat scroll center center transparent
}

.preloadGif {
	position: absolute;
	width: 32px;
	height: 32px
}

.hide {
	display: none
}

.hpBackground {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none
}

.gridUp {
	width: 100%;
	min-height: 36px;
	margin: 3% 0 3% 0
}

.gridUp a {
	display: block;
	float: left;
	margin-right: 5.7%;
	text-indent: -1000px;
	overflow: hidden;
	width: 6.1%;
	height: 100%
}

.gridUp img {
	display: block
}

.height_space {
	width: 100%;
	height: 2px;
	background-color: #fff
}

.productinfo_togglebox {
	width: 100%
}

.sharebox {
	width: 100%;
	height: 34px;
	margin-bottom: 10px
}

.sharebox h3 {
	display: block;
	width: 23%;
	text-align: left;
	font-size: 14px;
	color: #555;
	font-weight: bold;
	line-height: 34px;
	float: left
}

.sharebox ul {
	width: 77%;
	height: 34px;
	display: inline
}

.sharebox li {
	float: left;
	display: inline;
	margin-right: 10%
}

.sharebox li:last-child {
	margin-top: 4px
}

.review_content_top {
	background-color: #ededed;
	float: left;
	font-weight: 700;
	height: 30px;
	margin-bottom: 2px;
	width: 100%
}

.review_content {
	clear: both;
	display: none;
	position: relative
}

.review_content_top .writebutton {
	color: #555;
	float: left;
	line-height: 30px;
	text-decoration: underline;
	text-indent: 5px
}

.reviewnone {
	background-color: #f5f5f5;
	display: block;
	height: 50px
}

.reviewnone p {
	font-family: 'Microsoft yahei', "黑体", STHeiti, simsun, STXihei, "华文细黑", Verdana, Arial, sans-serif;
	line-height: 25px;
	font-size: 11px;
	text-align: center
}

.review_content_bottom {
	background-color: #ededed;
	float: left;
	height: 30px;
	margin-bottom: 2px;
	width: 100%
}

.review-star-newcontent li:first-child {
	width: 50%!important
}

.review-star-newcontent li {
	width: 30%!important
}

.review-star-newcontent li:last-child {
	width: 20%!important
}

.car_pdp_imgs {
	position: relative;
	overflow: hidden
}

#small_car_pdpPaginate {
	position: relative
}

.arrow {
	width: 8%;
	height: 100%;
	position: absolute;
	display: block;
	z-index: 50
}

.arowleft {
	left: 0;
	display: none
}

.arowright {
	right: 0;
	display: none
}

.arrow .arrowicon {
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	background-position: 50% 50%;
	margin: -10px 0 0 -10px;
	position: absolute;
	top: 50%;
	left: 50%
}

.arowleft .arrowicon {
	background-image: url('../images/arrow_left.png?20151028')
}

.arowright .arrowicon {
	background-image: url('../images/arrow_right.png?20151028')
}

.paybox {
	text-align: center
}

.paybox p {
	line-height: 25px
}

.paybox p.paytitle {
	background-color: #000;
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px
}

.orderbtn {
	text-align: center
}

.orderbtn button {
	background: #000;
	border: medium none;
	color: #fff;
	font-family: "Microsoft Yahei";
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-top: 30px;
	width: 100px
}

.category-title .u_homeCarouselBullets {
	padding-top: 4px;
	text-align: center
}

.category-title .u_homeCarouselBullets img {
	width: auto
}

.category-title #u_homeCarouselWrapper,
.category-title #u_homeCarouselWrapper2 {
	position: relative
}

.category-title #u_homeCarouselWrapper .u_homeCarouselBullets {
	position: absolute;
	bottom: 21.1%;
	width: 100%
}

.category-title #u_homeCarouselWrapper2 .u_homeCarouselBullets {
	position: absolute;
	bottom: 10px;
	width: 100%
}

.shopbg {
	position: absolute!important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	overflow: hidden;
	display: none
}

.shopbgTop {
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%
}

.shopbgTop img {
	width: 100%
}

.bgc88 {
	width: 88%;
	margin: 20px auto
}

.bgc88 .reg_another {
	font-size: 14px;
	color: #666;
	margin: 0 0 20px 0;
	background-color: #fff;
	padding: 0 0 25px 0
}

.bgc88 .btn_bk {
	width: 75%;
	margin: 0 auto;
	display: block
}

.bgc88 .reg_tx {
	padding: 20px 0 20px 0
}

.bgc88 .reg_tx p {
	text-align: center;
	font-size: 14px;
	color: #000
}

.bgc88 .reg_tx .tx_title {
	font-size: 18px;
	padding-bottom: 8px
}

.bgc88 .log_bd {
	font-size: 12px;
	color: #666;
	margin: 0 0 20px 0;
	background-color: #fff;
	padding: 0 6% 25px 6%
}

.bgc88 .log_tx {
	padding: 20px 0 20px 0
}

.bgc88 .log_tx p {
	text-align: left;
	font-size: 12px;
	color: #000;
	padding-bottom: 3px
}

.bgc88 .log_tx span {
	color: #000
}

.bgc88 .log_tx .email-input {
	height: 25px;
	font-size: 14px;
	border: 1px solid #565656
}

.bgc88 .log_tx .forget_pwd {
	position: absolute;
	top: 10px;
	right: 0
}

.page_left {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	display: none
}

.page_left .page_menu_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 88%;
	height: 100%;
	overflow-y: auto;
	padding-top: 10px;
	padding-bottom: 60px;
	border-right: 1px solid #000
}

.page_left .page_menu_logo {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 10px
}

.page_left .page_menu_logo img {
	width: 100%
}

.page_left .page_menu_left li {
	padding: 0 5%;
	position: relative
}

.page_left .page_menu_left a {
	display: block;
	padding: 9px 0
}

.sub-menu.sub-menu-se li {
	padding-left: 0;
	padding-right: 0
}

.sub-menu.sub-menu-se .slide_btn {
	right: 0
}

.page_left .slide_btn {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 17px;
	right: 5%;
	background: url(../images/header/page_left_btn.png?2015.10.13) no-repeat 0 0;
	background-size: 16px
}

.page_left .slide_btn.active {
	background-position: 0 -16px
}

.page_left .sub-menu {
	color: #666;
	display: none
}

.menu_bg {
	background-color: #ededed
}

.menu_gray {
	color: #666
}

.menu_gray a {
	color: #666
}

.menu_itl {
	font-style: italic
}

.menu_bd_top {
	border-top: 1px solid #d0d0d0
}

.font24 {
	font-size: 24px
}

.font22 {
	font-size: 22px
}

.font20 {
	font-size: 20px
}

.page_fixed>div,
.page_fixed>header,
.page_fixed>footer,
.page_fixed>section {
	position: relative;
	left: 88%
}

.page_fixed .page_left {
	display: block
}

.page_header.page_top {
	position: fixed;
	left: 0
}

.page_fixed .page_header.page_top {
	left: 88%;
	margin-left: 1px
}

.page_header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: #fff
}

.log_res {
	display: block
}

.log_fix {
	display: none
}

.page_top .log_res {
	display: none
}

.page_top .log_fix {
	display: block
}

.page_notic {
	width: 100%;
	height: 30px;
	background-color: #000
}

.page_notic .notic_log {
	width: 30%;
	height: 30px;
	overflow: hidden;
	float: left;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	padding-left: 4%
}

.page_notic .notic_log a {
	font-size: 12px;
	color: #fff;
	line-height: 30px
}

.page_notic .notic_welcome {
	width: 60%;
	height: 30px;
	overflow: hidden;
	float: right;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	text-align: right;
	padding-right: 4%
}

.hp_link1 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 83%
}

.hp_link2 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 89%
}

.hp_link3 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 81%
}

.hp_link4 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 87%
}

.hp_link5 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 87%
}

.hp_link6 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 7%;
	left: 25%;
	top: 87%
}

.hp_link7 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 81%
}

.hp_link8 {
	display: block;
	position: absolute;
	width: 50%;
	background-image: url(../images/blank.png);
	background-repeat: repeat;
	height: 6%;
	left: 25%;
	top: 87%
}

.santacontent {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	display: none;
	background-color: #000;
	z-index: 100
}

.santacontent video {
	width: 100%;
	height: 100%
}

.events-scroll-Fade,
.events-scroll-Fade2 {
	position: relative;
	width: 100%;
	height: auto
}

.events-scroll-Fade .scroll-Fade-box,
.events-scroll-Fade2 .scroll-Fade-box {
	position: relative;
	display: block;
	overflow: hidden
}

.events-scroll-Fade .scroll-Fade-box>div,
.events-scroll-Fade2 .scroll-Fade-box>div {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	display: block
}

.events-scroll-Fade .scroll-Fade-box>div.base,
.events-scroll-Fade2 .scroll-Fade-box>div.base {
	position: static;
	display: block
}

.events-scroll-Fade .scroll-Fade-box img,
.events-scroll-Fade2 .scroll-Fade-box img {
	display: block;
	width: 100%;
	height: auto
}

.scroll-Fade-btnL,
.scroll-Fade-btnR {
	width: 20px;
	height: 40px;
	margin-top: -20px;
	background-color: #000;
	position: absolute
}

.scroll-Fade-btnL {
	top: 50%;
	left: 0
}

.scroll-Fade-btnR {
	top: 50%;
	right: 0
}

.bullets {
	width: 100%;
	height: 15px;
	padding-bottom: 1px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0
}

.bullets>div {
	width: 9px;
	height: 9px;
	padding: 3px 5px 2px 5px;
	display: inline-block;
	vertical-align: top
}

.bullets>div span {
	display: block;
	background-color: #acacac;
	width: 10px;
	height: 10px;
	border-radius: 5px
}

.bullets>div.is-active span {
	background-color: #000
}